bin/
obj/
/GetTemplates/bin*
/GetTemplates/bin/*
/GetTemplates/obj*
/GetTemplates/obj/*
bin/*
obj/*
bin\
obj\
bin\*
obj\*

/GetTemplates/bin
/.vs/GetTemplates/FileContentIndex/merges
/.vs/GetTemplates/FileContentIndex/*