<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/c506e574-d44b-42f5-abf7-61f8d82f72f8/resourceGroups/DesignProject/providers/Microsoft.ApiManagement/service/BusArrivedapi/apis/GetTemplates1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/c506e574-d44b-42f5-abf7-61f8d82f72f8/resourceGroups/DesignProject/providers/Microsoft.Web/sites/GetTemplates1</ResourceId>
    <ResourceGroup>DesignProject</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gettemplates1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7ab120a0-7503-4ec8-a53d-55e4ba2ad2c9</ProjectGuid>
    <PublishUrl>https://gettemplates1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GetTemplates1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>